<div class="card h-100">
    <img [src]="event.image" class="card-img-top cursor-pointer" [routerLink]="['/event', event.id]" alt="{{ event.title }}">
    <div class="card-body">
        <div class="d-lg-flex d-block align-items-center">
            <h5 class="card-title mb-0">
              <a class="text-decoration-none" [routerLink]="['/event', event.id]">{{ event.title }}</a>
            </h5>
            <h6 class="card-subtitle ms-lg-2 mt-1">
              <a class="text-decoration-none" [routerLink]="['/event', event.id]">{{ event.subtitle }}</a>
            </h6>
        </div>
        <p class="card-text">{{ event.place }}</p>
        <p class="card-text d-none d-md-block" [innerHTML]="event.description"></p>
    </div>
    <div class="card-footer d-flex justify-content-between">
        <p class="card-text mb-0"><small> {{ event.startDate | date:'dd/MM/yyyy' }} - {{ event.endDate | date:'dd/MM/yyyy'}}</small></p>
        <button class="btn btn-primary btn-sm w-sm-25" [routerLink]="['/event', event.id]">Comprar</button>
    </div>
</div>